#HostFounder{
    background-color: black;
    position: relative;
    min-height: 500px;
}
.meetFounderContainer .MainHeading{
    color: white;
}

#HostFounder .Animated{
    position: relative;
}
#HostFounder .Animated>div {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4rem;
    height: 700px;
    overflow: hidden;
}
#HostFounder .Animated>div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.FounderContentContainer{
    position: absolute;
    /* top: 0px; */
    right: 0px;
    width: 50%;
    bottom: 0px;
    color: white;
}
.Socialicons ul li svg{
    font-size: 25px;
}
.FounderContentContainer h2{
    margin-top: 0px;
}

@media (max-width:990px){
    #HostFounder .MainHeading{
        margin-bottom: 40px;
    }
    .FounderContentContainer{
        position: absolute;
        /* top: 0px; */
        right: 0px;
        width: 100%;
        bottom: 0px;
        color: white;
    }
    #HostFounder .Animated>div {
        position: static;
        left: 0px;
        right: 0px;
        top: 4rem;
        height: 600px;
        overflow: hidden;
    }
}