#AboutCompanySection{
    margin-top: 600px;
    padding: 1rem 0rem !important;
}
.MainheadingContainer p{
    text-align: center;
}

@media (max-width:900px){
    #AboutCompanySection{
        margin-top: 0px;
    }
}