.NavigationLinksContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.NavigationLinksContainer ul {
    display: flex;
    gap: 40px;
}

.LogoContainer {
    display: flex;
    align-items: center;
}

.LogoContainer img {
    width: 100px;
}

.NavigationContainer {
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavigationLinks {
    position: relative;
}

.NavigationLinks::after {
    content: "";
    background-image: url("/public/Images/hoverBorderLine.svg");
    display: inline-flex;
    width: 100%;
    height: 100%;
    right: 0px;
    left: 0px;
    position: absolute;
    bottom: -28px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s;
}

.NavigationLinks:hover::after {
    content: "";
    background-image: url("/public/Images/hoverBorderLine.svg");
    display: inline-flex;
    width: 100%;
    height: 100%;
    right: 0px;
    left: 0px;
    position: absolute;
    bottom: -28px;
    background-repeat: no-repeat;
    opacity: 1;
    transition: .5s;
}

.NavigationList {
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    height: 100%;

}

.NavigationLinks {
    /* background-color: red; */
    margin: 20px;
    width: 100%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:769px) {
    .NavigationContainer {
        padding: 1rem 2rem;
    }

    .NavigationContainer .ant-row .ant-col {
        width: 50% !important;
    }

    .ant-drawer-body ul {
        display: flex;

    }

}


.ant-drawer-content-wrapper {
    height: 80% !important;
    transition: .5s !important;
}

.ant-drawer-body {
    background-color: rgba(186, 111, 70, 0.48) !important;
}

.ant-drawer-header {
    background-color: rgba(186, 111, 70, 0.48) !important;
}