.NavigationLinksContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.NavigationLinksContainer ul {
    display: flex;
    gap: 40px;
}

.LogoContainer {
    display: flex;
    align-items: center;
}

.LogoContainer img {
    width: 100px;
}

.NavigationContainer {
    padding: 0rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 5;
}

.NavigationLinks {
    position: relative;
}

.NavigationLinks::after {
    content: "";
    background-image: url("/public/Images/hoverBorderLine.svg");
    width: 83px;
    /* right: 0px; */
    /* left: 0px; */
    margin-top: 149px;
    position: absolute;
    /* bottom: -28px; */
    background-repeat: no-repeat;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: .5s;
}

.NavigationLinks:hover::after {
    content: "";
    background-image: url("/public/Images/hoverBorderLine.svg");
    width: 83px;
    /* right: 0px; */
    /* left: 0px; */
    margin-top: 149px;
    position: absolute;
    /* bottom: -28px; */
    background-repeat: no-repeat;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: .5s;
}

.NavigationList {
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    height: 90%;

}

.NavigationLinks {
    /* background-color: red; */
    /* margin: 20px; */
    width: 100%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdjustPadding {
    position: sticky;
    top: 0px;
    z-index: 5;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: none;
}

.withShadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#Drawer .AnimatedButtonAnimation {
    padding: 1rem 5rem;
    display: flex;
    justify-content: end;

}

@media (max-width:769px) {
    #Drawer .AnimatedButtonAnimation {
        padding: 0rem 0rem;
        display: flex;
        justify-content: end;

    }

    .NavigationContainer {
        padding: 1rem 2rem;
    }

    .NavigationContainer .ant-row .ant-col {
        width: 50% !important;
    }

    .ant-drawer-body ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: space-evenly;

    }

    .NavigationLinks {
        /* background-color: red; */
        /* margin: 20px; */
        width: 100%;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ant-drawer-content-wrapper {
    height: 80% !important;
    transition: .5s !important;
}

.ant-drawer-body {
    background-color: rgba(186, 111, 70, 0.48) !important;
}

.ant-drawer-header {
    background-color: rgba(186, 111, 70, 0.48) !important;
}